@import "_variables";
@import "_mixins";
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cover {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('https://res.cloudinary.com/dfe57evk4/image/upload/v1468759348/stars_small_rhuhef.jpg') bottom center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  .cover-caption {
    text-align: center;
  }
  h1 {
    color: $mainWhite;
    font-family: Lobster, Verdana, Arial, Helvetica, sans-serif;
    font-size: 7.5rem;
    font-weight: $waga;
    padding-bottom: 10px;
  }
  p {
    color: $mainWhite;
  }
  .wiki_query {
    color: $black;
    width: 290px;
    text-align: center;
    padding: .75rem 1.25rem;
    font-size: 2.25rem;
    line-height: 1.333333;
    border-radius: 1rem;
    &:focus {
      outline: 0;
    }
  }
  .mainButton {
    display: inline-block !important;
  }
  .displayNone {
    display: none !important;
  }
  .displayBlock {
    display: inline-block !important;
    margin-left: 5px;
  }
  .btn-default {
    display: block;
    margin: 1rem auto;
    color: $black;
    padding: 10px 25px;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: $waga;
    border: 1px solid #000;
    &:focus {
      @include przycisk;
      outline: 0;
    }
    &:hover {
      @include przycisk;
    }
  }
  .reset {
    &:focus {
      background-color: $black;
      border: 1px solid $mainWhite;
      outline: 0;
    }
    &:hover {
      background-color: #ce0000;
      border: 1px solid $mainWhite;
    }
  }
  .single-result {
    color: #333;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    text-decoration: none;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    display: block;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 5px;
    text-align: left;
    border-left: 3px solid #717171;
    border-right: 3px solid #717171;
    h3 {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 0.3rem;
    }
    p {
      font-size: 1.333rem;
      color: #333;
    }
    &:first-of-type {
      margin-top: 25px;
    }

    &:last-of-type {
      margin-bottom: 50px;
    }
    &:hover {
      color: #333;
      border-color: #ff3300;
      text-decoration: none;
    }
    &:focus {
      color: #333;
      border-color: #33cc33;
      text-decoration: none;
      outline: 0;
    }
    &:visited {
      color: #333;
      border-color: #33cc33;
      text-decoration: none;
    }
  }
}
